@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
header {
  background-color: #24252a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 125px;
}
@media screen and (max-width: 680px) {
  header {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  header {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  header nav {
    padding: 5 5px;
  }
}
header .li {
  font-family: "Montserrat";
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header .avegacion {
  font-family: "Montserrat";
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header .logo {
  cursor: pointer;
}
header .nav_links {
  list-style: none;
}
header .nav_links li {
  display: inline-block;
  padding: 0 20px;
}
header .nav_links li a {
  color: #fdfdfd;
  transition: all 0.3s ease 0s;
}
header .nav_links li a:hover {
  color: #0088a9;
}
header .cta {
  font-family: "Montserrat";
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header button {
  padding: 9px 25px;
  background-color: rgb(0, 136, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: rgb(0, 136, 169);
  box-shadow: 0 0 15px #0088a9;
  box-shadow: 0 0 45px #0088a9;
  box-shadow: 0 0 75px #0088a9;
}
@media screen and (max-width: 550px) {
  header button {
    padding: 5px;
    font-size: 16px;
  }
}

/* HOME */
.shop_content{
  background-color: #9aadbf;
  border-right: solid 5px black;
  border-left: solid 5px black;
  width: 1150px;
  margin: auto;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 80px 30px;
  place-content: space-evenly space-evenly;
  place-items: center center;
}
@media screen and (max-width: 1150px) {
  .shop_content {
    place-content: space-evenly space-evenly;
    place-items: center center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 900px;
  }
}
@media screen and (max-width: 900px) {
  .shop_content {
    place-content: space-evenly space-evenly;
    place-items: center center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 550px;
  }
}
@media screen and (max-width: 550px) {
  .shop_content {
    place-content: space-evenly space-evenly;
    place-items: center center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 400px;
  }
}
@media screen and (max-width: 550px) {
  .shop_content {
    place-content: space-evenly space-evenly;
    place-items: center center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 360px;
  }
}

.card{
  max-width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: black;
  box-shadow: 0 0 5px #000;
  padding: 15px;
}

.card h3{  
  font-family: arial;
  font-weight: 550;
  font-size: 23px;
  text-align: center;
  padding: 2px;
  margin: auto;
  max-width: 200px;
}

.price{
  text-align: center;
  color: #000;
  font-size: 22px;
}
.card img {
  height: 354px;
  width: 230px;
}

.comprar{
  padding: 6px;
  font-size: 18px;
  border: 3px solid #000;
  border-radius: 3px;
  background-color: lightcoral;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.comprar:hover{
  background-color: rgb(255,255,255);
  box-shadow: 0 0 15px #0088a9;
  box-shadow: 0 0 45px #0088a9;
}


.modal-container{
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed; /*Ponerlo stiky*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 10vh auto;
  overflow-y: auto;
;
}

.modal-container::-webkit-scrollbar{
  display:none;
}
.modal-header{
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%;
}

.modal-header-button {
  cursor: pointer;
}

.modal-content{
  background-color: #404248;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.modal-content img{
  padding-top: 23px;
  padding-bottom: 23px;
  height: 324px;
  width: 230px;
}
.modal-content h3{
  font-size: 25px;
}
.modal-content p{
  font-size: 25px;
}
.total-content{
  background-color: #000000;
  color: #fff;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}




/* .cont-1 .card {
  box-sizing: border-box;
  background-color: white;
  border: solid 3px whitesmoke;
  padding: 20px;
  border-radius: 3px;
  height: 360px;
  width: 236px;
} */



/*Footer*/
footer {
  background-color: #24252a;
  min-height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 550px) {
  footer {
    flex-direction: column;
    padding: 5px;
  }
}
footer .logo {
  height: 7vh;
}
footer .logotipo {
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-align: center;
  font-family: "Bruno Ace SC", cursive;
}
footer p {
  font-size: 15px;
}
footer span {
  font-size: 30px;
}
footer i {
  text-decoration: none;
  color: white;
  margin: px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  transition: 0.3 ease;
}
footer .fa-youtube {
  background-color: red;
  padding: 2px;
  border-radius: 10px;
  color: white;
}
footer .fa-youtube:hover {
  background-color: red;
  color: white;
  box-shadow: 0 0 15px red;
  box-shadow: 0 0 45px red;
  box-shadow: 0 0 75px red;
}
footer .fa-instagram {
  background-color: rgb(189, 42, 91);
  padding: 2px;
  border-radius: 10px;
  color: white;
}
footer .fa-instagram:hover {
  background-color: rgb(217, 44, 154);
  color: white;
  box-shadow: 0 0 15px rgb(217, 44, 154);
  box-shadow: 0 0 45px rgb(217, 44, 154);
  box-shadow: 0 0 75px rgb(217, 44, 154);
}
footer .fa-whatsapp {
  background-color: rgb(37, 187, 37);
  padding: 2px;
  border-radius: 10px;
  color: white;
}
footer .fa-whatsapp:hover {
  background-color: rgb(53, 214, 39);
  color: white;
  box-shadow: 0 0 15px rgb(53, 214, 39);
  box-shadow: 0 0 45px rgb(53, 214, 39);
  box-shadow: 0 0 75px rgb(53, 214, 39);
}
footer .fa-linkedin {
  background-color: rgb(43, 97, 184);
  padding: 2px;
  border-radius: 10px;
  color: white;
}
footer .fa-linkedin:hover {
  background-color: rgb(28, 70, 177);
  color: white;
  box-shadow: 0 0 15px rgb(28, 70, 177);
  box-shadow: 0 0 45px rgb(28, 70, 177);
  box-shadow: 0 0 75px rgb(28, 70, 177);
}


